openapi: 3.0.3
info:
  title: Polyguard API
  description: |
    REST API for the Polyguard prediction market platform on Solana.

    ## Authentication

    Most endpoints require JWT authentication. Obtain tokens via the wallet signature flow:
    1. Request a nonce with your wallet address
    2. Sign the message with your wallet
    3. Submit the signature to receive access/refresh tokens

    Include the access token in all authenticated requests:
    ```
    Authorization: Bearer <access_token>
    ```

    ## Rate Limits

    - Authentication: 10 req/min per IP
    - Orders: 10 req/min per user
    - Market creation: 1 req/hour per user
    - Claims: 5 req/min per user
    - General reads: 120 req/min per IP

  version: 1.0.0
  contact:
    name: Polyguard
    url: https://polyguard.cc
    email: dev@polyguard.cc
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.polyguard.cc/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Development

tags:
  - name: auth
    description: Authentication endpoints
  - name: markets
    description: Market operations
  - name: orders
    description: Order management
  - name: positions
    description: User positions
  - name: user
    description: User profile and history
  - name: health
    description: Health and metrics

paths:
  /auth/nonce:
    get:
      tags: [auth]
      summary: Get authentication nonce
      description: Request a nonce for wallet signature authentication
      operationId: getNonce
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
          description: Wallet public key (base58)
          example: "7xKXGNVBrpYWzLvMrEPvYxSYZJJcE6nQ8DKwVFSBdQhh"
      responses:
        '200':
          description: Nonce generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/login:
    post:
      tags: [auth]
      summary: Login with wallet signature
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout and revoke token
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out successfully
        '401':
          $ref: '#/components/responses/Unauthorized'

  /markets:
    get:
      tags: [markets]
      summary: List markets
      operationId: listMarkets
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, closed, resolved, cancelled]
        - name: category
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Market list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketListResponse'

    post:
      tags: [markets]
      summary: Create market
      description: Create a new prediction market. Requires Admin or Keeper role.
      operationId: createMarket
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMarketRequest'
      responses:
        '201':
          description: Market created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /markets/{market_id}:
    get:
      tags: [markets]
      summary: Get market details
      operationId: getMarket
      parameters:
        - $ref: '#/components/parameters/marketId'
      responses:
        '200':
          description: Market details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
        '404':
          $ref: '#/components/responses/NotFound'

  /markets/{market_id}/orderbook:
    get:
      tags: [markets]
      summary: Get order book
      operationId: getOrderbook
      parameters:
        - $ref: '#/components/parameters/marketId'
        - name: outcome
          in: query
          schema:
            type: string
            enum: [yes, no]
            default: yes
        - name: depth
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Order book snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBookResponse'

  /markets/{market_id}/trades:
    get:
      tags: [markets]
      summary: Get recent trades
      operationId: getTrades
      parameters:
        - $ref: '#/components/parameters/marketId'
        - name: outcome
          in: query
          schema:
            type: string
            enum: [yes, no]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
          description: Cursor for pagination
      responses:
        '200':
          description: Trade list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeListResponse'

  /orders:
    get:
      tags: [orders]
      summary: List user orders
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - name: market_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [open, filled, partially_filled, cancelled, expired]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [orders]
      summary: Place order
      description: |
        Place a new order. Supports idempotency via the Idempotency-Key header.

        If the same Idempotency-Key is sent again within 24 hours, the original
        response is returned without creating a duplicate order.
      operationId: placeOrder
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 64
          description: Unique key to prevent duplicate orders
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
      responses:
        '201':
          description: Order placed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Duplicate request in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'

  /orders/{order_id}:
    get:
      tags: [orders]
      summary: Get order details
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [orders]
      summary: Cancel order
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /positions:
    get:
      tags: [positions]
      summary: List user positions
      operationId: listPositions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Position list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /positions/{market_id}:
    get:
      tags: [positions]
      summary: Get position for market
      operationId: getPosition
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/marketId'
      responses:
        '200':
          description: Position details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /positions/{market_id}/claim:
    post:
      tags: [positions]
      summary: Claim winnings
      description: Claim winnings from a resolved market
      operationId: claimWinnings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/marketId'
      responses:
        '200':
          description: Winnings claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimWinningsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /user/profile:
    get:
      tags: [user]
      summary: Get user profile
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/transactions:
    get:
      tags: [user]
      summary: Get transaction history
      operationId: getTransactions
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [deposit, withdrawal, trade, claim]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    marketId:
      name: market_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 64
      example: "btc-100k-2024"

    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    RateLimited:
      description: Too many requests
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "INVALID_PRICE"
            message:
              type: string
              example: "Price must be between 0.01 and 0.99"

    NonceResponse:
      type: object
      required:
        - nonce
        - expires_at
      properties:
        nonce:
          type: string
        expires_at:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - wallet
        - signature
        - message
      properties:
        wallet:
          type: string
          description: Wallet public key (base58)
        signature:
          type: string
          description: Ed25519 signature (base58)
        message:
          type: string
          description: Signed message containing wallet, timestamp, nonce

    LoginResponse:
      type: object
      required:
        - access_token
        - refresh_token
        - expires_in
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          description: Access token lifetime in seconds

    RefreshRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string

    Market:
      type: object
      required:
        - id
        - address
        - question
        - status
        - yes_price
        - no_price
      properties:
        id:
          type: string
        address:
          type: string
          description: On-chain market account address
        question:
          type: string
        description:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [active, paused, closed, resolved, cancelled]
        yes_price:
          type: number
          format: double
          minimum: 0
          maximum: 1
        no_price:
          type: number
          format: double
          minimum: 0
          maximum: 1
        yes_supply:
          type: integer
        no_supply:
          type: integer
        volume_24h:
          type: number
          format: double
        total_volume:
          type: number
          format: double
        total_collateral:
          type: integer
        fee_bps:
          type: integer
          description: Fee in basis points (100 = 1%)
        oracle:
          type: string
        collateral_mint:
          type: string
        trading_end:
          type: string
          format: date-time
        resolution_deadline:
          type: string
          format: date-time
        resolved_outcome:
          type: string
          enum: [yes, no]
          nullable: true
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true

    MarketListResponse:
      type: object
      required:
        - markets
        - total
        - limit
        - offset
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    CreateMarketRequest:
      type: object
      required:
        - market_id
        - question
        - oracle
        - collateral_mint
        - trading_end
        - resolution_deadline
      properties:
        market_id:
          type: string
          maxLength: 64
        question:
          type: string
          maxLength: 256
        description:
          type: string
        category:
          type: string
        oracle:
          type: string
        collateral_mint:
          type: string
        fee_bps:
          type: integer
          maximum: 1000
          default: 100
        trading_end:
          type: integer
          description: Unix timestamp
        resolution_deadline:
          type: integer
          description: Unix timestamp

    OrderBookResponse:
      type: object
      required:
        - market_id
        - outcome
        - timestamp
        - bids
        - asks
        - spread
        - mid_price
      properties:
        market_id:
          type: string
        outcome:
          type: string
          enum: [yes, no]
        timestamp:
          type: string
          format: date-time
        bids:
          type: array
          items:
            $ref: '#/components/schemas/PriceLevel'
        asks:
          type: array
          items:
            $ref: '#/components/schemas/PriceLevel'
        spread:
          type: number
          format: double
        mid_price:
          type: number
          format: double

    PriceLevel:
      type: object
      required:
        - price
        - quantity
      properties:
        price:
          type: number
          format: double
        quantity:
          type: integer

    TradeListResponse:
      type: object
      required:
        - trades
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        cursor:
          type: string
          nullable: true

    Trade:
      type: object
      required:
        - id
        - market_id
        - outcome
        - price
        - quantity
        - timestamp
      properties:
        id:
          type: string
        market_id:
          type: string
        outcome:
          type: string
          enum: [yes, no]
        price:
          type: number
          format: double
        quantity:
          type: integer
        buyer:
          type: string
        seller:
          type: string
        timestamp:
          type: string
          format: date-time

    Order:
      type: object
      required:
        - id
        - market_id
        - owner
        - side
        - outcome
        - order_type
        - price
        - quantity
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        market_id:
          type: string
        owner:
          type: string
        side:
          type: string
          enum: [buy, sell]
        outcome:
          type: string
          enum: [yes, no]
        order_type:
          type: string
          enum: [limit, market]
        price:
          type: number
          format: double
        quantity:
          type: integer
        filled_quantity:
          type: integer
        remaining_quantity:
          type: integer
        status:
          type: string
          enum: [open, filled, partially_filled, cancelled, expired]
        is_private:
          type: boolean
        tx_signature:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true

    OrderListResponse:
      type: object
      required:
        - orders
        - total
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        total:
          type: integer

    PlaceOrderRequest:
      type: object
      required:
        - market_id
        - side
        - outcome
        - order_type
        - price
        - quantity
      properties:
        market_id:
          type: string
        side:
          type: string
          enum: [buy, sell]
        outcome:
          type: string
          enum: [yes, no]
        order_type:
          type: string
          enum: [limit, market]
        price:
          type: number
          format: double
          minimum: 0.01
          maximum: 0.99
        quantity:
          type: integer
          minimum: 1
        expires_at:
          type: string
          format: date-time
        private:
          type: boolean
          default: false

    PlaceOrderResponse:
      type: object
      required:
        - order_id
        - market_id
        - side
        - outcome
        - order_type
        - price
        - quantity
        - filled_quantity
        - status
        - created_at
      properties:
        order_id:
          type: string
          format: uuid
        market_id:
          type: string
        side:
          type: string
          enum: [buy, sell]
        outcome:
          type: string
          enum: [yes, no]
        order_type:
          type: string
          enum: [limit, market]
        price:
          type: number
          format: double
        quantity:
          type: integer
        filled_quantity:
          type: integer
        status:
          type: string
          enum: [open, filled, partially_filled]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        tx_signature:
          type: string
          nullable: true

    CancelOrderResponse:
      type: object
      required:
        - order_id
        - status
        - cancelled_at
      properties:
        order_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [cancelled]
        cancelled_at:
          type: string
          format: date-time
        tx_signature:
          type: string
          nullable: true

    Position:
      type: object
      required:
        - market_id
        - owner
        - yes_balance
        - no_balance
      properties:
        market_id:
          type: string
        owner:
          type: string
        market_question:
          type: string
        yes_balance:
          type: integer
        no_balance:
          type: integer
        avg_yes_cost:
          type: number
          format: double
        avg_no_cost:
          type: number
          format: double
        current_yes_price:
          type: number
          format: double
        current_no_price:
          type: number
          format: double
        unrealized_pnl:
          type: number
          format: double
        realized_pnl:
          type: number
          format: double

    PositionListResponse:
      type: object
      required:
        - positions
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'

    ClaimWinningsResponse:
      type: object
      required:
        - market_id
        - claimed_amount
        - winning_outcome
        - winning_tokens_burned
        - tx_signature
      properties:
        market_id:
          type: string
        claimed_amount:
          type: integer
        winning_outcome:
          type: string
          enum: [yes, no]
        winning_tokens_burned:
          type: integer
        tx_signature:
          type: string

    UserProfile:
      type: object
      required:
        - wallet_address
        - created_at
      properties:
        wallet_address:
          type: string
        total_volume:
          type: number
          format: double
        total_trades:
          type: integer
        open_orders:
          type: integer
        created_at:
          type: string
          format: date-time

    TransactionListResponse:
      type: object
      required:
        - transactions
        - total
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        total:
          type: integer

    Transaction:
      type: object
      required:
        - id
        - type
        - amount
        - timestamp
      properties:
        id:
          type: string
        type:
          type: string
          enum: [deposit, withdrawal, trade, claim]
        market_id:
          type: string
        amount:
          type: number
          format: double
        tx_signature:
          type: string
        timestamp:
          type: string
          format: date-time
